## Imports
import(MCMCglmm)
import(dispRity)
importFrom("graphics", "hist", "abline", "par")
importFrom("coda", "gelman.diag")
importFrom("methods", "is")
importFrom("stats", "as.formula", "median")


## Mini chain functions
export(extract.parameters)
export(flat.prior)
export(make.mini.chains)
export(run.mini.chains)
export(diagnose.mini.chains)
export(combine.mini.chains)
