## Imports
import(MCMCglmm)
import(dispRity)
importFrom("graphics", "hist", "abline")
importFrom("coda", "gelman.diag")

## Mini chain functions
export(extract.parameters)
export(flat.prior)
export(make.mini.chains)
export(run.mini.chains)
export(diagnose.mini.chains)
export(combine.mini.chains)
